body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tick line {
  stroke: #c0c0bb;
}

.tick text {
  fill: #635f5d;
  cursor: default;
}

.axis-label {
  font-size: 1.5em;
  fill: #635f5d;
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 0.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.react-datepicker__input-container input:focus {
  border-color: #495057;
  box-shadow: 0 0 0 0.1rem #495057;
}

.grey-text {
  color: #495057;
}

.reset-button {
  height: 100%;
}
.graph-card-header {
  padding: 1.275rem 0rem 0.475rem 0rem;
}

.datepicker-input {
  padding: 0rem 0rem 0.075rem 0rem;
}

.datepicker-input-items {
  padding: 0rem 0rem 0.375rem 0rem;
}

.app-header {
  padding: 2rem 0rem 1.5rem 0rem;
}

.heart-rate-graph-footer {
  margin: 0rem 0rem 1rem 0rem;
  text-align: center;
}

.loader {
  display: flex;
  margin-top: 15%;
  justify-content: center;
  align-items: center;
  height: inherit;
}

/* Slider start*/
.horizontal-slider {
  padding: 2rem 0rem 1.5rem 0rem;
  background-color: #ffffff;
}

.thumb {
  position: relative;
  top: 1.55rem;
  border-radius: 20px;
  width: 1.4rem;
  height: 1.4rem;
  color: white;
  background-color: #6c757d;
  border: 2px solid white;
  cursor: grab;
  z-index: 0 !important;
}

.thumb-value {
  color: #495057;
  position: absolute;
  bottom: calc(100% + 4px);
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  white-space: nowrap;
}

.thumb:focus-visible {
  outline: auto 0px;
}

.track {
  height: 0.3rem;
  background-color: #c4c4c4;
}

.track-1 {
  background-color: #756b7d;
}
/* Slider end*/

.react-datepicker__month-container .react-datepicker__navigation-icon {
  position: relative;
  z-index: 1 !important;
}
