# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# prod
/.env
/src

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/


README.MD
tsconfig.json
package-lock.json